<form class="product-form" method="post" action="/cart/add" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data" data-product-form>
   	<input type="hidden" name="form_type" value="product">
   	<input type="hidden" name="utf8" value="✓">
   	<input type="text" class="js-qty__num QuantityInput" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="" data-submit="" style="display: none">
    <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js" style="display: none">
        {% for variant in product.variants %}
            {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
            {% else %}
                <option disabled="disabled">{{ variant.title }}
                    -
                    {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <div class="product__submit" data-buttons-wrapper data-add-action-wrapper>
		<div data-add-action-errors class="add-action-errors"></div>
		<div class="product__submit__buttons">
        	<input class="treatments__addtocart__btn addToCart" type="submit" value="Add to Cart" data-add-to-cart>
    	</div>
  	</div>
</form>